<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" name="C:/Users/Katix/IdeaProjects/TestSimbirSoft">
    <classes><class name="tests.RegistrationForm"><methods>
        <include name="testFormSubmission"/></methods></class></classes></test></suite>
